html,
body {
  height: 100%;
}

body {
  font-family: montserrat regular, Sans-Serif;
}

.scrollbar-1 {
  scrollbar-width: thin;
  scrollbar-color: rgba(246, 246, 255, 0.57) rgba(205, 205, 209, 0.35);
}

.scrollbar-1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-1::-webkit-scrollbar-track {
  background-clip: content-box;
  border: 2px solid transparent;
}

.scrollbar-1::-webkit-scrollbar-thumb {
  background-color: rgba(246, 246, 255, 0.57);
}

.scrollbar-1::-webkit-scrollbar-thumb:hover {
  background-color: rgba(192, 192, 199, 0.613);
}

.scrollbar-1::-webkit-scrollbar-corner, .scrollbar-1::-webkit-scrollbar-track {
  background-color: rgba(205, 205, 209, 0.35);
}

.scrollbar-2 {
  scrollbar-width: thin;
  scrollbar-color: #808285 #bbb;
}

.scrollbar-2::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar-2::-webkit-scrollbar-track {
  background-color: #bbb;
}

.scrollbar-2::-webkit-scrollbar-thumb {
  background-color: #808285;
}

.scrollbar-2::-webkit-scrollbar-track, .scrollbar-2::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.globalLoading {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999999999;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/** colors */
.white {
  color: #ffffff !important;
}

.color-secondary {
  color: #868e96 !important;
}

.color-1 {
  color: #027273 !important;
}

.color-2 {
  color: #13f4f1 !important;
}

.color-3 {
  color: #028f8d !important;
}

.color-4 {
  color: #358e8f !important;
}

.color-5 {
  color: #0e5729 !important;
}

.color-6 {
  color: #e4151f !important;
}

.color-7 {
  color: #58585a !important;
}

.color-7 {
  color: #58585a !important;
}

.color-8 {
  color: #808285 !important;
}

.color-9 {
  color: #949599 !important;
}

.color-10 {
  color: #bdbec0 !important;
}

.color-11 {
  color: #137702 !important;
}

.color-12 {
  color: #ddfeff !important;
}

.color-13 {
  color: #0e5728 !important;
}

.color-14 {
  color: #6c6c6c !important;
}

.color-15 {
  color: #606060 !important;
}

.bgwhite {
  background-color: #ffffff !important;
}

.bgcolor-1 {
  background-color: #027273 !important;
}

.bgcolor-2 {
  background-color: #13f4f1 !important;
}

.bgcolor-3 {
  background-color: #028f8d !important;
}

.bgcolor-4 {
  background-color: #358e8f !important;
}

.bgcolor-5 {
  background-color: #0e5729 !important;
}

.bgcolor-6 {
  background-color: #e4151f !important;
}

.bgcolor-7 {
  background-color: #58585a !important;
}

.bgcolor-7 {
  background-color: #58585a !important;
}

.bgcolor-8 {
  background-color: #808285 !important;
}

.bgcolor-9 {
  background-color: #949599 !important;
}

.bgcolor-10 {
  background-color: #bdbec0 !important;
}

.bgcolor-11 {
  background-color: #137702 !important;
}

.bgcolor-12 {
  background-color: #ddfeff !important;
}

.bgcolor-13 {
  background-color: #0e5728 !important;
}

.bgcolor-14 {
  background-color: #6c6c6c !important;
}

.bgcolor-15 {
  background-color: #606060 !important;
}

.float-label
.ant-input-group-wrapper.ant-input-group-wrapper-has-feedback
.ant-input-group-addon
.ant-btn {
  border: 0px;
  border-left: 1px solid #58585a;
  border-radius: 0px;
}

.float-label
.ant-input-group-wrapper.ant-input-group-wrapper-has-feedback
.ant-input-wrapper.ant-input-group
.ant-input-affix-wrapper.ant-input-affix-wrapper-has-feedback {
  border: 0px;
}

.ant-input-search .ant-input:focus,
.ant-input-search .ant-input-focused,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
.ant-select-selector,
.ant-input:focus,
.ant-input-focused,
.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-picker-focused {
  -webkit-box-shadow: 0 0 0 1px rgba(245, 105, 0, 0.2);
          box-shadow: 0 0 0 1px rgba(245, 105, 0, 0.2);
}

.ant-input-search
.ant-input:hover
+ .ant-input-group-addon
.ant-input-search-button:not(.ant-btn-primary),
.ant-input-search
.ant-input:focus
+ .ant-input-group-addon
.ant-input-search-button:not(.ant-btn-primary),
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
.ant-select-selector,
.ant-input:hover,
.ant-input:focus,
.ant-input-focused,
.ant-input-number-affix-wrapper:not(.ant-input-number-affix-wrapper-disabled):hover,
.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper-focused,
.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-picker-focused,
.ant-picker:hover,
.ant-picker-focused,
.ant-radio-wrapper .ant-radio,
.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus,
.checkbox_yes .ant-checkbox,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox.ant-checkbox-checked::after {
  border-color: #027273;
}

.ant-radio-wrapper .ant-radio,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.float-label .ant-input,
.float-label .mask-input,
.float-label .ant-picker,
.float-label .ant-input-affix-wrapper-has-feedback,
.float-label .ant-input-number-affix-wrapper,
.float-label .ant-input-group-wrapper.ant-input-group-wrapper-has-feedback {
  border: 1px solid #58585a;
}

.float-label
.ant-input-group-wrapper.ant-input-group-wrapper-has-feedback
.ant-input-group-addon {
  border: 0px;
  border-radius: 0px;
  border-top: 1px solid #58585a;
}

.float-label
.ant-input-group-wrapper.ant-input-group-wrapper-has-feedback
.ant-input-group-addon .ant-btn {
  background-color: #027273;
  color: #ffffff;
}

.ant-checkbox.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #027273;
}

.ant-input-group .ant-input-affix-wrapper-focused {
  border: 1px solid #027273;
}

.ant-select-arrow,
.as-placeholder {
  color: #58585a;
}

.ant-select-table-pagesize.ant-select-focused .ant-select-arrow {
  color: #000000;
}

.ant-select-item-option-active:not(.item-select-item-option-disabled) {
  background-color: #027273 !important;
  color: #ffffff;
}

.table-filter-alphabet .ant-btn {
  color: #e4151f;
}

.viewAsBoxRight {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  text-align: center;
  border-right: 5px solid #e4151f;
}

.viewAsBoxLeft {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999999;
  text-align: center;
  border-right: 5px solid #e4151f;
}

.viewAsBoxTop {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999999;
  text-align: center;
  border-top: 5px solid #e4151f;
}

.viewAsBoxBottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999999999;
  text-align: center;
  border-top: 5px solid #e4151f;
}

.tooltip {
  position: absolute;
  right: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 15px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-left: -99px;
}

.tooltip .Top {
  bottom: 135%;
  left: 50%;
}

.tooltip .Bottom {
  top: 150%;
  left: 50%;
}

.tooltip .Left {
  top: -6px;
  left: 640%;
}

.tooltip .Right {
  top: -6px;
  right: 145%;
}

.tooltip .Top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip .Top.lightblue::after {
  content: "";
  border-color: #81c6e7 transparent transparent transparent !important;
}

.tooltip .Top.gold::after {
  content: "";
  border-color: #d6ae71 transparent transparent transparent !important;
}

.tooltip .Top.blue::after {
  content: "";
  border-color: #6b91bb transparent transparent transparent !important;
}

.tooltip .Bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip .Bottom.lightblue::after {
  content: "";
  border-color: transparent transparent #81c6e7 transparent;
}

.tooltip .Bottom.gold::after {
  content: "";
  border-color: transparent transparent #d6ae71 transparent;
}

.tooltip .Bottom.blue::after {
  content: "";
  border-color: transparent transparent #6b91bb transparent;
}

.tooltip .Left::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip .Left.lightblue::after {
  content: "";
  border-color: transparent #81c6e7 transparent transparent;
}

.tooltip .Left.gold::after {
  content: "";
  border-color: transparent #d6ae71 transparent transparent;
}

.tooltip .Left.blue::after {
  content: "";
  border-color: transparent #6b91bb transparent transparent;
}

.tooltip .Right::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip .Right.lightblue::after {
  content: "";
  border-color: transparent transparent transparent #81c6e7;
}

.tooltip .Right.gold::after {
  content: "";
  border-color: transparent transparent transparent #d6ae71;
}

.tooltip .Right.blue::after {
  content: "";
  border-color: transparent transparent transparent #6b91bb;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-collapse {
  right: 15px;
  top: 10px;
}

.tooltip-collapse svg {
  color: #c59f4e;
}

.tooltip-input {
  right: 30px;
  top: 11px;
}

.tooltip-input svg {
  color: #d2d4d3;
}

.tooltip-select {
  top: 11px;
  right: 48px;
}

.tooltip-select svg {
  color: #d2d4d3;
}

.tooltip-selection {
  top: 11px;
  right: 47px;
}

.tooltip-selection svg {
  color: #d2d4d3;
}

.tooltip .blue {
  background-color: #6b91bb;
}

.tooltip .gold {
  background-color: #d6ae71;
}

.tooltip .lightblue {
  background-color: #81c6e7;
}

.tooltip-is-not-required {
  right: 8px;
}

/** end colors */
/** others */
/** end others */
/* Media Query for Large screens */
/* Media Query for Laptops and Desktops */
/* Media Query for Tablets Ipads portrait mode */
/* Media Query for Tablets, Ipads and below  */
/* Media Query for low resolution  Tablets, Ipads */
/* Media Query for Mobile Devices */
/*# sourceMappingURL=main.css.map */